<table width="500" cellspacing="0" cellpadding="0" border="0">
   <tbody>
      <tr>
         <td>
            <table cellspacing="0" cellpadding="0" border="0">
               <tbody>
                  <tr>
                     <td style="font-size:1em;padding:0 15px 0 8px;vertical-align: top;" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" style="line-height: 1.4;font-family:Verdana, Geneva, sans-serif;font-size:90%;color: #000001;">
                           <tbody>
                              <tr>
                                 <td>
                                    <div style="font: 1.2em Verdana, Geneva, sans-serif;color:#000001;">Dhruv Kalia</div>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="padding: 4px 0;">
                                    <div style="color:#000001;font-family:Verdana, Geneva, sans-serif;"> Software Developer     </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#7387C7;">mobile:&nbsp;</span> <span><a style="font-family:Verdana, Geneva, sans-serif;color:#000001;" href="tel:+91-8447315570">+91-8447315570</a></span> </td>
                              </tr>
                              <tr>
                                 <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#7387C7;">email:&nbsp;</span> <span><a href="mailto:dhruvkalia13@gmail.com" target="_blank" style="font-family:Verdana, Geneva, sans-serif;color: #000001;">dhruvkalia13@gmail.com</a></span> </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                     <td style="border-left:3px solid;vertical-align:middle;padding:0 0 3px 6px;font-family: Arial;border-color:#7387C7;" valign="middle">
                        <table cellspacing="0" cellpadding="0" border="0" style="line-height: 1;">
                           <tbody>
                              <tr>
                                 <td style="padding: 4px 0 0 0;"><a target="_blank" class="social_link  linkedin" href="https://www.linkedin.com/in/dhruvkalia/" style="display: block;border-radius: 6%;width:22px;height:22px;text-align: center;background-color: #7387C7;"><i style="padding: 4px 0 0 1px;font-size:14px;color: #ffffff;" class="icon icon-linkedin icon"></i></a></td>
                              </tr>
                              <tr>
                                 <td style="padding: 4px 0 0 0;"><a target="_blank" class="social_link  github" href="https://gitlab.com/dhruvkalia13/" style="display: block;border-radius: 6%;width:22px;height:22px;text-align: center;background-color: #7387C7;"><i style="padding: 4px 0 0 1px;font-size:14px;color: #ffffff;" class="icon icon-github icon"></i></a></td>
                              </tr>
                              <tr>
                                 <td style="padding: 4px 0 0 0;"><a target="_blank" class="social_link  twitter" href="https://twitter.com/dhruvkalia13" style="display: block;border-radius: 6%;width:22px;height:22px;text-align: center;background-color: #7387C7;"><i style="padding: 4px 0 0 1px;font-size:14px;color: #ffffff;" class="icon icon-twitter icon"></i></a></td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>